body {
  font-family:'Roboto'
}
.app {
  width: 391px;
  margin: auto;
  padding: 16px;
  height: 615px;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(207, 235, 244, 0.36);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 text-align: center;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

